################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/EtcMidiEmulator/bin/Debug
/EtcMidiEmulator/obj/Debug
/EtcMidiEmulator/obj/Debug
/EtcMidiEmulator/obj/Debug
/MidiWrapper/bin/Debug
/MidiWrapper/obj
